<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Python Login</title>
    <link rel="stylesheet" href="CSS/main.css">
</head>
<body>
    <div class="login-container">
        <div class="login-box">
            <h2>Member Login</h2>
            <form id="loginForm">
                <div class="input-group">
                    <label for="user">User:</label>
                    <input type="text" id="user" name="user" required>
                </div>
                <div class="input-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password">
                </div>
                <div class="forgot-password">
                    <a href="#">Register? Click here.</a>
                </div>
                <button type="submit">Confirm</button>
            </form>
        </div>
    </div>
    <!-- <script type="text/javascript" src="/eel.js"></script> -->
    <script type="text/javascript" src="/views/login2.js"></script>
</body>
</html>