body {
    font-family: Arial, sans-serif;
    background: url('/static/CSS/img_final.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    position: relative; 
    background-color: white;
    border-radius: 30px;
    padding: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.login-container::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0%;
    height: 0%;
    background: url('/static/CSS/logo_final.png') no-repeat center center;
    background-size: contain; /* Adjust as necessary (contain, cover, or specific size) */
    opacity: 0.5; /* Adjust the opacity to make it look like a watermark */
    z-index: 1; /* Ensure it stays behind other elements */
}

.login-box {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

h2 {
    text-align: center;
    color: #333;
}

.input-group {
    margin-bottom: 10px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    opacity: 0.6;
    position: left;
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.forgot-password {
    text-align: center;
    margin: 10px 0;
}

.forgot-password a {
    color: #6a5acd;
    text-decoration: none;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #5946B2;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #5a4aad;
}